# Rust build files
/target

# Proxy files
.proxy/*

# ignore all hidden files and directories
# unless explicitly whitelisted
.*
!.gitignore
!.vscode/
!.proxy/
!.gitkeep
!.proxy/*.example

# Ignore logs directory
logs/

# Certificate files
certs/
*.crt
*.key
*.pem
*.der
