# Rust build files
/target

# Proxy files
.config/*

# ignore all hidden files and directories
# unless explicitly whitelisted
.*
!.gitignore
!.vscode/
!.config/
!.gitkeep
!.python-version
!*.example

# Ignore logs directory
logs/

# Certificate files
certs/
*.crt
*.key
*.pem
*.der

# Inventory file for Ansible
inventory.ini
