[servers]
server ansible_host={{ server.ip }} ansible_user={{ server.user }} wan_interface={{ server.wan_interface }} lan_interface={{ server.lan_interface }} lan_cidr={{ server.lan_cidr }} lan={{ server.lan }} lan_netmask={{ server.lan_netmask }} lan_cidr_gateway={{ server.lan_cidr_gateway }} lan_cidr_broadcast={{ server.lan_cidr_broadcast }} lan_cidr_netmask={{ server.lan_cidr_netmask }} lan_cidr_start={{ server.lan_cidr_start }} lan_cidr_end={{ server.lan_cidr_end }} hostapd_ssid="{{ server.hostapd_ssid }}" hostapd_country_code={{ server.hostapd_country_code }} hostapd_wpa_passphrase="{{ server.hostapd_wpa_passphrase }}"

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
