- name: Configure Proxy Server with systemd
  hosts: servers
  become: yes
  tasks:
  - name: Create systemd service file for Proxy Server
    ansible.builtin.template:
      src: ../templates/network-proxy.service.j2
      dest: /etc/systemd/system/network-proxy.service
      mode: 644

  - name: Reload systemd to apply new service file
    ansible.builtin.systemd:
      daemon_reload: yes

  - name: Enable and start proxy service
    ansible.builtin.systemd:
      name: network-proxy
      enabled: yes
      state: started
